.update-form{
    border:1px solid black;
    margin-left: 380px;
    margin-right: 50px;
    margin-top: 50px;
   
}
#Email{
    display:block;
    margin:20px auto 0;
    width:440px;
    text-align: center;
}

.edit-lastname,.edit-firstname{
    width:220px;
    margin-left: 10px;
    text-align: center;
}

#course,#mentors{
    margin-top:10px;
}

#update-student{
    width:100px;
    margin-top: 20px;
    border-radius: 20px;
}