.navbar-brand{
    margin-left: 580px;
}

table{
    border-collapse: collapse;
    margin-left: 380px;
    margin-right: 50px;
    text-align: center;
}

tr,td{
    border: 1px solid black;
}
tr:nth-child(even) {
    background-color:lightslategray;
}

th{
    width:100px;
    text-align: center;
}
#edit-student,#delete-student{
    border:none;
    color: blue;
 
}