

.edit-teacher-fname,.edit-teacher-lname,.edit-teacher-email,.edit-teacher-doj,.edit-teacher-salary{
    display: block;
    width:500px;
    margin:20px auto 0;
    text-align: center;

}

.edit-teacher-button{
    margin-top: 20px;
    width:150px;
    border-radius: 20px;
}

