.edit-teacher{
    border:1px solid black;
    margin-left: 380px;
    margin-right:30px;
    margin-top: 50px;
    height:60vh;
}

.edit-teacher-fname,.edit-teacher-lname,.edit-teacher-email,.edit-teacher-doj,.edit-teacher-salary{
    display: block;
    width:500px;
    margin-left: 130px;
    margin-top: 20px;
    text-align: center;

}

.edit-teacher-button{
    margin-top: 20px;
    width:150px;
    border-radius: 20px;
}

